<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {padding: 20px;font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;}
    </style>
  </head>
  <body>
    <ul>
      <% for(var i = 0; i < supplies.length; i++){ %>
        <li><%= supplies[i] %></li>
      <% } %>
    </ul>
  </body>
</html>
